@*Reference to JQuery*@
<script src="~/Scripts/User.js"></script>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        Users
    </div>
    <br />
    <span class="glyphicon glyphicon-plus col-md-1" aria-hidden="true"></span>
    <a asp-action="Insert">Create New</a>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="TableProfiles">
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Department</th>
                <th>Profile</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->  