@*Reference to JQuery*@
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        Profiles
    </div>
    <br />
    <span class="glyphicon glyphicon-plus col-md-1" aria-hidden="true"></span>
    <a asp-action="Insert">Create New</a>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="TableProfiles">
            <tr>
                <th>Name</th>
                <th>Send</th>
                <th>Receive</th>
                <th>Audit</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->  
<script src="~/Scripts/Profile.js"></script>