@*Reference to JQuery*@
<script src="~/Scripts/Product.js"></script>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        Products
    </div>
    <br />
    <span class="glyphicon glyphicon-plus col-md-1" aria-hidden="true"></span>
    <a asp-action="Insert">Create New</a>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="TableProfiles">
            <tr>
                <th>Description</th>
                <th>Brand</th>
                <th>Tag</th>
                <th>Price</th>
                <th>Room</th>
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->  